<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unauthorized Access - 401 Error</title> <!-- Mengubah judul halaman -->
    <!-- Meta -->
    <meta name="description" content="Unauthorized Access - 401 Error" /> <!-- Mengubah deskripsi halaman -->
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/" />
    <meta property="og:url" content="https://www.bootstrap.gallery" />
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery" />
    <meta property="og:description" content="Unauthorized Access - 401 Error" /> <!-- Mengubah deskripsi halaman -->
    <meta property="og:type" content="Website" />
    <meta property="og:site_name" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="assets/images/favicon.svg" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/error/assets/css/main.min.css" />
</head>

<body class="error-bg">

    <!-- Error container starts -->
    <div class="error-container">

        <h1 class="mb-4 lh-1">401</h1> <!-- Mengubah kode status error -->
        <h4 class="fw-bold mb-3">
            Unauthorized Access
        </h4> <!-- Mengubah judul error -->
        <h6 class="mb-4">You are not authorized to access this page.</h6> <!-- Mengubah pesan error -->
        <a href="#" class="btn btn-primary rounded-5 px-4 py-2 fs-5">Login</a>
    </div>
    <!-- Error container ends -->

</body>

</html>
