@model API.Dtos.Accounts.RegisterAccountDto
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/lib/img/logos/dark-logo.svg" width="180" alt="">
                            </a>
                            <p class="text-center">Register an Account</p>
                            <form action="Register" method="post">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Email</label>
                                    <input type="email" class="form-control" asp-for="Email">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input type="password" class="form-control" asp-for="Password">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                                </div>
                                <!-- Add other registration fields here -->

                                <button type="submit" class="btn btn-primary w-100 py-2 fs-4 mb-4 rounded-2">Register</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an account?</p>
                                    <a class="text-primary fw-bold ms-2" href="Login">Log in here</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>