/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
@media (min-width:1200px) {
    .max-img {
        max-width: 500px;
        max-height: 500px;
    }
}
