@{
    Layout = "~/Views/Shared/_CsLayout.cshtml";
}
<div class="body-wrapper">

    <div class="modal fade " id="detailsWorkReportModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h2 class="text-white">Details</h2>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                    </button>


                </div>
                <div class="modal-body">

                    
                    <div class="shadow-lg rounded m-2 card card-body">
                        <span class="side-stick bg-success" style="width:3px;height:35px;position:absolute;left:0"></span>
                        <div class="row">
                            <div class="text-center m-2">
                                <img id="image" src="" alt="Image" class="rounded">
                            </div>
                            <div class="col-3 ms-3 py-3">
                                <h6>Title Work Order</h6>
                            </div>
                            
                            <div class="col-md-8 ms-auto py-3 d-flex">
                                <p class="me-2">: </p> <p class="" id="title" name="title"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 ms-3 py-3">
                                <h6>Deskripsi Work Order</h6>
                            </div>
                            <div class="col-md-8 ms-auto py-3 d-flex">
                                <p class="me-2">: </p> <p id="description"></p>
                            </div>
                        </div>
                    </div>



                </div>

                <div class="modal-footer" id="detailWoModalFooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                   
                </div>
            </div>
        </div>
    </div>
    <style>
        #image {
            max-width: 500px;
            max-height: 500px;
        }
    </style>


    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class='bx bx-menu'></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                        <i class='bx bx-bell'></i>
                        <div class="notification bg-primary rounded-circle"></div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/lib/img/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">My Profile</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>
                                <a href="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">

        <h1>My Work Report</h1>
        <div class="container">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- /Inner sidebar -->
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <!-- /Inner main header -->
                        <!-- Inner main body -->
                        <!-- Forum List -->


                        <div class="inner-main-body p-2 p-sm-3">

                            <table id="myWorkReportTable" class="table table-sm table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="col">No</th>
                                        <th class="col">Title</th>
                                        <th class="col">Deskripsi</th>
                                        <th class="col">Status</th>
                                        <th class="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!-- /Forum List -->
                            <!-- Forum Detail -->
                            <!-- /Inner main body -->
                        </div>
                        <!-- /Inner main -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>